
    
    .dashBoard-sidebar{
        
        padding : 3vw;
        background-color: rgb(11, 11, 69);
        width: 150px;
        color: white;
        
        padding-bottom: 100px;
            
            .main-sidebarContent{
                position: sticky;
                color: white;
                font-size: 20px;
               span{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                  &:hover{
                      color: rgb(191, 191, 244);
                      cursor: pointer;
                      border-radius: 20px;
                  } 
                  &:active{
                    color: rgb(191, 191, 244); 
                  }
    
                }
                .iconName.active{
                    color: rgb(191, 191, 244);
    
                }
            }
        }
        .Right{
            flex: 4;
        }
    