.Home{
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    flex: 4;
    
    .rate{
        
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:750px) {
            display: grid;
        }
        
        .mainBox{
            cursor: pointer;
            padding: 20px;
            max-width: 250px;
            border-radius: 10px;
            @media screen and (max-width:968px) {
               max-width: 160px;
                padding: 10px;
                
             }
             @media screen and (max-width:800px) {
                width: 170px;
                padding: 10px;
                
             }
            //  @media screen and (max-width:750px) {
            //     width: 150px;
            //     padding: 10px;
                
            //  }
            //  @media screen and (max-width:700px) {
            // max-width: 150px;
            //  }
             @media screen and (max-width:750px) {
                max-width: 150px;
                margin-bottom: 20px;
                 }
            

           h4{ 
               padding: 0px;
               box-sizing: border-box;
               margin: 0px;
               color: #5558;
           }
           .Rate{
               span:first-child{

                   font-size: 30px;
                   padding-top: 30px;
                   font-weight: 700;
               }
               .up{
                   color: green;
                   font-weight: 500;
               }
               .down{
                   color: red;
                   font-weight: 500;
               }
           }

            box-shadow: -10px 8px 19px 10px rgba(0,0,0,0.17); 
        }
    }
}