.charts{
    padding-top: 5px;
    margin-top: 25px;
    padding-left: 0px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: -10px 8px 19px 10px rgba(0,0,0,0.17); 
    width:900px;
    @media screen and (max-width:1220px) {
        width: 700px;
    }
    @media screen and (max-width:980px) {
        width: 600px;
    }
    @media screen and (max-width:760px) {
        width: 500px;
    }
    @media screen and (max-width:560px) {
        width: 400px;
    }
    @media screen and (max-width:450px) {
        width: 360px;
    }
    @media screen and (max-width:400px) {
        width: 285px;
    }
  

       h2{
           padding-left: 10px;
       }
    
}
.AreaChart{
    width: 250px;
    height: 250px;
}
   